---
import MainLayout from "../layouts/MainLayout.astro";
const pageTitle = "Home | Haloroundmyhead Knits";
---

<MainLayout pageTitle={pageTitle}>
	<section class="flex flex-col mx-auto items-center justify-center mt-4 sm:mt-11 mb-6 sm:mb-12">
		<h1 class="text-center text-[44px] leading-[60px] font-semibold mx-3 mb-3 sm:mb-6">Modern Patterns for Knitters and Crocheters</h1>
		<a
			href="/"
			class="rounded-full text-lg font-bold bg-lila-900 text-fuzz-50 px-6 py-2 dark:bg-fuzz-300 dark:text-phthalo-950 hover:no-underline hover:bg-lila-700 dark:hover:bg-fuzz-200"
		>
			Browse all patterns
		</a>
	</section>
</MainLayout>
