---
import { Icon } from "astro-icon/components";
import Logo from "../components/Logo.astro";

const navigation = [
  { name: `About`, href: "/"},
  { name: 'Blog', href: "/"},
  { name: 'Patterns', href: "/"},
]
---

<header class="sticky top-0 z-40 w-full backdrop-blur-sm border-b  border-phthalo-950/10  dark:border-phthalo-50/10 bg-phthalo-50/95 .supports-backdrop-blur:bg-phthalo-50/95 dark:bg-phthalo-950/85">
  <nav class="mx-auto px-2 md:px-6 lg:px-8 relative flex h-16 items-center justify-between">
    <div class="absolute inset-y-0 left-0 flex items-center md:hidden">
      {/* Mobile menu button */}
      <button
        class="relative inline-flex items-center justify-center rounded-md p-2 text-phthalo-800 dark:text-phthalo-300 hover:bg-phthalo-200 dark:hover:bg-phthalo-800 hover:text-phthalo-900 dark:hover:text-phthalo-100 focus:outline-hidden focus:ring-2 focus:ring-inset focus:ring-phthalo-950 dark:focus:ring-phthalo-50"
      >
        <span class="absolute -inset-0.5" />
        <span class="sr-only">Open main menu</span>
        <Icon name="iconoir:menu" class="block h-6 w-6" aria-hidden="true" />
      </button>
    </div>
    {/* Logo link to homepage */}
    <div class="flex flex-1 items-center justify-center md:items-stretch md:justify-between">
      <div class="flex shrink-0 items-center">
        <Logo />
      </div>
    </div>
    <div class="md:ml-6">
      <div class="flex items-center space-x-3">
        <div class="hidden md:inline-block">
          {navigation.map((item: any) => (
            <a
              href={item.href}
              class="text-phthalo-900 dark:text-phthalo-100 hover:underline hover:text-lila-800 dark:hover:text-fuzz-200 rounded-md px-3 py-2 text-base font-semibold"
            >{item.name}</a>
          ))}
        </div>
        <div class="absolute inset-y-0 right-0 self-center md:static flex items-center md:border-l md:border-phthalo-200 md:dark:border-phthalo-700 md:pl-5 md:space-x-3">
          <div class="text-phthalo-900 dark:text-phthalo-200 text-semibold bg-transparent dark:bg-transparent pr-2 md:p-0"><Icon name="lucide:search" class="inline-block h-6 w-6"></div>
          <div class='hidden md:flex'><Icon name="lucide:sun" class="relative md:block text-lila-900 dark:text-fuzz-200 text-semibold justify-between bg-phthalo-50 dark:bg-phthalo-700 md:bg-transparent md:dark:bg-transparent rounded-lg ring-1 md:ring-0 ring-phthalo-900/20 w-32 md:w-6 p-1.5 md:p-0 inline-block h-6" /></div>
        </div>
        {/* {componentMounted && (
          <div class='absolute inset-y-0 right-0 self-center md:static flex items-center md:border-l md:border-phthalo-200 md:dark:border-phthalo-700 md:pl-5 md:space-x-3'>
            <div><Search /></div>
            <div class='hidden md:flex'><Toggle theme={theme} toggleTheme={toggleTheme} /></div>
          </div>
        )} */}
      </div>
    </div>
  </nav>
</header>