---
import TagBlock from "./TagBlock.astro";
import Favorites from "./Favorites.astro";
---

<div class="flex flex-col justify-items-start bg-lila-100 dark:bg-phthalo-900 divide-y divide-lila-950 dark:divide-phthalo-200/50 rounded-3xl h-full mx-3 mt-6 md:ml-0 md:mr-3 md:mt-0"
  >
  <aside>
    <TagBlock />
  </aside>
  <aside class="hidden md:block">
    <Favorites />
  </aside>
</div>