---
import SocialLinks from "./SocialLinks.astro";
---

<div class='flex items-center justify-center space-x-1 border-l border-phthalo-200 ml-6 px-4 dark:border-phthalo-700'>
  <ul class='flex'>
    <SocialLinks />
  </ul>
</div>